body{
	font-family: Verdana, Geneva, sans-serif;
	color: white;;
}
table#schedule{
	background-color: white;
	width: 85%;
	border: 4px solid salmon;
	color: salmon;
}
table#sTitle{
	background-color: white;
	width: 85%;
	border: 2px solid salmon;
	color: salmon;
}
h1#support{
	background-color: white;
	width: 30%;
	color: slamon;
	border: 3px solid salmon;
}
table#featured{
	background-color: white;
	width: 85%;
	border: 4px solid salmon;
	color: salmon;
}
h1#featured{
	background-color: white;
	width: 50%;
	border: 4px solid salmon;
	color: salmon;
}
a#support{
	color: salmon;
}
h3#about{
	background-color: white;
	width: 60%;
	border: 4px solid salmon;
	color: salmon;
}
h1#about{
	background-color: white;
	width: 30%;
	border: 4px solid salmon;
	color: salmon;
}
iframe{
	border: 5px solid salmon;
}
h2#titles{
	background-color: white;
	width: 50%;
	border: 4px solid salmon;
	color: salmon;
}
h1#title{
	background-color: white;
	width: 90%;
	border: 4px solid salmon;
	color: salmon;
	font-size: 50px;
}
h1#subs{
	background-color: white;
	width: 20%;
	border: 4px solid salmon;
	color: salmon;
}
img#pntscrn{
	width: 70%;
	border: 4px solid salmon;
}
h3#caption{
	background-color: white;
	width: 30%;
	border: 4px solid salmon;
	color: salmon;
}
h2#title{
	background-color: white;
	width: 60%;
	border: 4px solid salmon;
	color: salmon;
	font-size: 30px;
}
h5#download{
	background-color: white;
	width: 20%;
	border: 2px solid salmon;
	color: salmon;
	font-size: 25px;
}